.content-page-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;

    .heading-wrapper{
        width: 100vw;
        align-items: center;
        justify-content: center;



        
        .heading{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            background-color: rgb(253, 125, 5);
            width: 100vw;
            
            h3{
                align-self: center;
            }
            
        }
    }
        
        
        
        .image{
            padding-top: 100px;
            


            img{
                
               
                width: 500px;
                height: 600px;


            }
        }
  
    .bottom-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 45vw;
        height: 45vh;

       


      p{
          font-size: 1.5em;
      }
  
    }
  }
  