.area-below-header{

    .text-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: tan;
        width: 100vw;
        text-align: center;


        .contact-heading{
            display: grid;
            align-items: center;
            justify-content: center;
            font-size: 2em;
        }

        .paragraph-text{
            display: grid;
            width: 50vw;
            text-align: center;

            p{
                font-size: 150%;
                color: black ;
            }
        }
        
    }

}

.contact-area-wrapper{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;

    .contact-area-heading{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .form{

        .form-group{
            padding: 10px;

        }

        input{
            font-size: 1.5rem;
            font-family: inherit;
            color: inherit;
            padding: 10px;
            border-radius: 2px;
            border-bottom: 3px solid rgb(128, 58, 0);
            width: 100%;
            display: block;
            transition: all .3s;
        }

        textarea{
                    
            font-size: 1.5rem;
            font-family: inherit;
            color: inherit;
            padding: 10px;
            border-radius: 2px;
            border-bottom: 3px solid rgb(128, 58, 0);
            width: 100%;
            display: block;
            transition: all .3s;
        }

        .centered-btn-wrapper{
            text-align: center;
        }

    }
    

    
}