.blog-wrapper{

    
    .heading-blog-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
        background-color: rgb(253, 125, 5);

    }

    .information-section{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 20vh;
        .text-section{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 60vw;

        }
    }

    .tips-section{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100vw;

        p{
            width: 60vw;
        }

        .stretching-section{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 80vw;
            text-align: center;
            
            .static{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                height: 25vh;


                .static-heading{
                    text-decoration: underline;

                }

                    ul{
                        align-items: center;
                        text-align: center;
                        padding: 0;
                    }
            }
            .dynamic{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;

                .dynamic-heading{
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    text-decoration: underline;

                }

                ul{
                    align-items: center;
                    text-align: center;
                    padding: 0;
                }

               
            }
        }


    }
    
    .drills-wrapper{
        display: flex;
        align-items: center;        
        justify-content: center;
        flex-direction: column;
        // padding-bottom: 100px;
        text-align: center;

        .drill-information{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 85vw;
            
            h3{
                font-size: 2em;
            }
        }

        .tip-category{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr ;
            width: 50vw;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 35vh;

            
            
            .shooting{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img{
                    height: 18vh;

                    width: 15vw;
                    padding-bottom: 25px;

                }

                a{

                    cursor: pointer;
                    font-size: 1.5em;
                    font-weight: 500;
                    border: 1px solid transparent;
                    transition: all 0.5s ease-in-out;
                    color: rgb(228, 154, 18);
                    text-decoration: none;
                    
                    
                    &:active,
                    &:focus {
                        outline: none;
                    }
                    
                    &:hover {
                        background-color: rgb(167, 80, 9);
                    }
                }
            }

            .ball-handling{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                

                img{
                    height: 18vh;

                    width: 15vw;

                    padding-bottom: 25px;

                }

                a{

                    cursor: pointer;
                    font-size: 1.5em;
                    font-weight: 500;
                    border: 1px solid transparent;
                    transition: all 0.5s ease-in-out;
                    color: rgb(228, 154, 18);
                    text-decoration: none;
                    
                    
                    &:active,
                    &:focus {
                        outline: none;
                    }
                    
                    &:hover {
                        background-color: rgb(167, 80, 9);
                    }
                }
            }

            .defense{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;


                

                img{
                    padding-bottom: 25px;
                    height: 18vh;
                    width: 15vw;

                }

                a{

                    cursor: pointer;
                    font-size: 1.5em;
                    font-weight: 500;
                    border: 1px solid transparent;
                    transition: all 0.5s ease-in-out;
                    color: rgb(228, 154, 18);
                    text-decoration: none;
                    
                    
                    &:active,
                    &:focus {
                        outline: none;
                    }
                    
                    &:hover {
                        background-color: rgb(167, 80, 9);
                    }
                }

                    
                    

                
            }
        }
    }
    
   
}