.home-heading-wrapper{
    background-color: rgb(253, 125, 5);
    width: 100vw;
    height: 25vh;


    .heading{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .home-heading-text{
            width: 60vw;
            align-items: center;
            justify-content: center;
            text-align: center;
            // height: 100vh;
        }

    }
}

.home-motivation-wrapper{
    background-color: rgb(253, 125, 5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .home-motivation-text{
        width: 60vw;
        text-align: center;
        align-items: center;
        // height: 100vh;
    }
}

.home-information{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    .heading-information{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 85vw;
        height: 25vh;

        .home-information-text{
            width: 43vw;
            // height: 100vh;
        }


        
    }

    .home-mini-box-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        width: 80vw;
        height: 80vh;
        
        
        
        .left-box{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            
            height: 500px;

            .left-box-image{
                img{
                    height: 34vh;
                    width: 30vw;
                }
            }

            .left-box-text{
                width: 30vw;
            }
        }


        .right-box{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;


            height: 500px;

            .right-box-image{
                img{
                    height: 34vh;
                    width: 30vw;
                }
            }

            .right-box-text{
                width: 30vw;
            }
        }
    }
}