@media (max-width:615px){
    .app-wrapper{
        width: 100vw;
        padding: 0px;
    }


    // heading and footer area
    .footer-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;

    }

    .nav-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100vw;

    .nav-link-wrapper {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    }

    // home area

    .home-heading-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;

        .heading{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100vw;

            .home-heading-text{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100vw;
            }
        }
    }

    .home-motivation-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;

        .home-motivation-text{
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .home-information{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;

        .home-mini-box-wrapper{
            display: grid;
            grid-template-columns: 1fr;
            width: 100vw;

            .left-box{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100vw;
                padding-top: 20px;
                padding-bottom: 25px;

                .left-box-image{
                    img{
                        width: 100vw;
                    }
                }
            }

            .right-box{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100vw;
                padding-top: 20px;
                padding-bottom: 25px;

                .right-box-image{
                    img{
                        width: 100vw;
                    }
                }
            }
        }
    }

        // about area

    .content-page-wrapper {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .heading{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100vw;
        }

        .image{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100vw;
            height: 100vh;

            img{
                width: 100vw;
            }
        }

        .right-column{
            display: grid;
            grid-template-columns: 1fr;
        }


    }

    // contact area
    .contact-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100vw;

        .area-below-header{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100vw;

            .text-area{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100vw;
                height: 100vh;

                .contact-heading{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100vw;
                    height: 100vh;

                    h3{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .paragraph-text{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100vw;
                    height: 100vh;
                }
            }

        }

    }

    // drills area
    
        .tips-section{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100vw;

            .stretching-section{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100vw;

                .static{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100vw;

                    ul{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100vw;
                    }
                }

                
            }
        }


}