@media (max-width:615px){
    .app-wrapper{
        width: 100vw;
        padding: 0px;
    }


    // heading and footer area
    .footer-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;

    }

    .nav-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .left-side{
            flex-direction: column;
        }

    .nav-link-wrapper {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    }

    // home area

    .home-heading-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;


        .heading{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100vw;
            
            

            .home-heading-text{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100vw;
                text-align: center;

                p{
                    padding-left: 10px;
                    padding-right:10px;
                }
                
            }
        }
    }

    .home-motivation-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;

        .heading-motivation{
            text-align: center;
        }

        .home-motivation-text{
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            p{
                padding-left: 10px;
                padding-right:10px ;
            }
        }
    }

    .home-information{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;

        .heading-information{

            .home-information-text{
                text-align: center;
            }

        }

        .home-mini-box-wrapper{
            display: grid;
            grid-template-columns: 1fr;
            width: 100vw;

            .left-box{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100vw;
                padding-top: 20px;
                padding-bottom: 25px;
                text-align: center;

                

                .left-box-text{
                    align-items: center;
                    text-align: center;
                    p{
                        padding-left: 10px;
                        padding-right: 10px;
                    }

                }

                .left-box-image{
                    img{
                        width: 100vw;
                    }
                }
            }

            .right-box{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100vw;
                padding-top: 20px;
                padding-bottom: 25px;

                .right-box-text{
                    text-align: center;

                    p{
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }

                .right-box-image{
                    img{
                        width: 100vw;
                    }
                }
            }
        }
    }

        // about area

    .content-page-wrapper {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .heading-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100vw;
            justify-content: center;
            padding-top: 30px;

            
            .heading{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100vw;
            }
        }



        .about-image{

            .image{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100vw;
                
                img{
                    width: 100vw;
                    height: 500px;

                }
            }
        }
        
        .bottom-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            text-align: center;

            .about-bottom-text{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 85vw;
                text-align: center;

               

                
            }
        }
    }
        


    // contact area
    .contact-wrapper{
       

        .area-below-header{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100vw;

            .text-area{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100vw;

                p{

                    padding-left: 15px;
                    padding-right: 15px;
                }


                .contact-heading{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100vw;

                    h3{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .paragraph-text{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100vw;
                    text-align: center;
                }
            }

        }
        .contact-area-wrapper{
            .form{
                .form-group{
                    padding: 10px;
        
                }
        
                input{
                    font-size: 1.5rem;
                    font-family: inherit;
                    color: inherit;
                    padding: 10px;
                    border-radius: 2px;
                    border-bottom: 3px solid rgb(128, 58, 0);
                    width: 65vw;
                    display: block;
                    transition: all .3s;
                }

                textarea{
                    
                    font-size: 1.5rem;
                    font-family: inherit;
                    color: inherit;
                    padding: 10px;
                    border-radius: 2px;
                    border-bottom: 3px solid rgb(128, 58, 0);
                    width: 65vw;
                    display: block;
                    transition: all .3s;
                }
            }
        }

    }

    // drills area

    .heading-blog-wrapper{
        text-align: center;
    }

        
    
    .tips-section{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
        text-align: center;

        .stretching-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100vw;

            .static{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100vw;

                ul{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100vw;
                }
            }

            
        }
    }

    .drills-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        .tip-category{
            display: grid;
            grid-template-columns: 1fr;
            width: 100vw;

            .shooting{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100vw;

                img{
                    width: 100vw;
                }
            }

            .ball-handling{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100vw;

                img{
                    width: 100vw;
                }
            }

            .defense{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100vw;

                img{
                    width: 100vw;
                }
            }
        }
    }

    // login area

    .signup-wrapper{
        p{

            text-align: center;
            align-items: center;
        }

        .login-button{
            text-align: center;
            align-items: center;
        }

    }

        .login-input-wrapper{

            .login-form-wrapper{

                .auth-form-wrapper{

                    .form-group{
                        width: 65vw;


                        input{
                            font-size: 1.5rem;
                            font-family: inherit;
                            color: inherit;
                            padding: 10px;
                            border-radius: 2px;
                            border-bottom: 3px solid rgb(128, 58, 0);
                            width: 65vw;
                            display: block;
                            transition: all .3s;
                        }

                    }
                

                }

    }
}
}
