.nav-wrapper {
    display: flex;
    justify-content: center;
    padding: 30px;
    height: 50px;
    background-color: rgb(65, 57, 57);
    width: 100vw;
  
    .right-side {
      a {
        margin-left: 15px;
        cursor: pointer;
        color: teal;
        transition: 0.5s ease-in-out;
  
        &:hover {
          color: darkblue;
        }
      }
    }
  
    .left-side {
      display: flex;
    }
  
    .nav-link-wrapper {
      height: 22px;
      border-bottom: 1px solid transparent;
      transition: 0.5s ease-in-out;
      margin-right: 20px;
      text-transform: uppercase;
      font-size: 0.9rem;
  
      a {
        cursor: pointer;
        height: 42px;
        font-size: 1em;
        font-weight: 500;
        border: 1px solid transparent;
        transition: all 0.5s ease-in-out;
        color: rgb(228, 154, 18);
        text-decoration: none;
      
        &:active,
        &:focus {
          outline: none;
        }
      
        &:hover {
          background-color: rgb(167, 80, 9);
        }
      }
  
      &:hover {
        border-bottom: 1px solid black;
      }
  
      .nav-link-active {
        border-bottom: 1px solid black;
      }
    }
  }
  