.shooting-wrapper{
    display: grid;


    .information-shooting-wrapper{
        background-color: burlywood;
        h3{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        p{
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            width: 95vw;
            padding-left: 5px;
            height: 100px;
        }
    }

    .shooting-warmup-wrapper{
        .shooting-warmup-heading{
            h3{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .shooting-warmup-tips{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100vw;
            p{
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 85vw;
            }
            ul{
                padding: 0;
            }
            
        }
    }
    .shooting-tips-wrapper{
        .shooting-tip-heading{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .shooting-tips{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        p{
            width: 85vw;
            align-items: center;
            text-align: center;
        }
        ul{
            padding: 0;
        }
    }
    .shooting-drill-content{
        .shooting-drill-content-heading{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form-shooting-content{
            .form-shooting-content-heading{
                    display: flex;
                    align-items: center;
                    justify-content: center;
            }

            .form-shooting{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
        }

        .offensive-shooting-content{
            .offensive-shooting-content-heading{
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .offensive-shooting{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }


        }
    }

}

